server:
    port: 8080

spring:
    application:
        name: api-gateway

    cloud:
        gateway:
            routes:
                - id: user-service
                  uri: lb://user-service   # Eureka service name
                  predicates:
                      - Path=/api/v1/user/**

eureka:
    client:
        service-url:
            defaultZone: http://localhost:8761/eureka/
        fetch-registry: true
        register-with-eureka: true
        lease-renewal-interval-in-seconds: 30
        lease-expiration-duration-in-seconds: 90
    instance:
        prefer-ip-address: true
        hostname: ${HOSTNAME:localhost}  # optional for local dev
        instance-id: ${spring.application.name}:${eureka.instance.ip-address}:${server.port}:${spring.profiles.active}


management:
    endpoints:
        web:
            exposure:
                include: health,info,prometheus